@model IEnumerable<WebApplication1.Models.Daily>
@using WebApplication1.Models
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ajanda Sayfası</h2>
<div class=" row">
    <div class="col-md-4">
        <button class="btn btn-primary" id="btn1" onclick="modal(null)">Yeni Kayıt</button>
    </div>
</div>
<table id="dailysTable" class="table dataTable " style="width:100%">
    <thead>
        <tr>
            <th scope="col">İşlemler</th>
            <th scope="col">Notlar</th>
            <th scope="col">Durum</th>
            <th scope="col">Başlama Zamanı</th>
            <th scope="col">Bitme Zamanı</th>
            <th scope="col">Kullanıcı</th>
        </tr>
    </thead>
    @*<tbody>
        @foreach (Daily daily in Model)
        {
            <tr>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-group-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            İşlem
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="btn btn-group-sm btn btn-primary" onclick="modal(@daily.Id)">
                                Düzenle
                            </a>
                            <a class="btn btn-group-sm btn btn-warning" onclick="warn(@daily.Id)" style="width:auto">Sil</a>
                        </div>
                    </div>
                </td>
                <td>@daily.Note</td>
                <td>@daily.Status</td>
                <td>@daily.StartTime</td>
                <td>@daily.FinishTime</td>
                <td>@daily.User</td>
            </tr>
        }
    </tbody>*@
    <tfoot>
        <tr>
            <th scope="col">İşlemler</th>
            <th scope="col">Notlar</th>
            <th scope="col">Durum</th>
            <th scope="col">Başlama Zamanı</th>
            <th scope="col">Bitme Zamanı</th>
            <th scope="col">Kullanıcı</th>

        </tr>

    </tfoot>
</table>

@section scripts{
    <script src="@Url.Content("~/Scripts/MyScripts/Dailys.js")"></script>
}



