<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Protek Enerji Hizmetleri</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Styles.Render("~/Content/cssjqryUi")*@
    <link href="~/Extensions/css/alertify.css" rel="stylesheet" />
    <link href="~/DataTables/datatables.css" rel="stylesheet" />
    <link href="~/Content/MyCss/Datatable.css" rel="stylesheet" />
    <link href="~/Content/MyCss/DropDown.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">*@

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Personel Takip", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                    <li>@Html.ActionLink("Hakkında", "About", "Home")</li>
                    <li>@Html.ActionLink("İletişim", "Contact", "Home")</li>
                    <li>
                        <div class="dropdown-header" style="height:50px">
                            <a class="dropdown" data-toggle="dropdown">
                                İşlemler<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Personel", "Index", "Users")</li>
                                <li>@Html.ActionLink("Görevler", "Index", "Orders")</li>
                                <li>@Html.ActionLink("Notlar", "Index", "Notes")</li>
                                <li>@Html.ActionLink("Gruplar", "Index", "Group")</li>
                                <li>@Html.ActionLink("Ajanda", "Index", "Daily")</li>
                                <li>@Html.ActionLink("Kategoriler", "Index", "Category")</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div class="modal" tabindex="-1" role="dialog" id="modalContainer"></div>
        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - Protek Enerji Hizmetleri</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @*<script src="~/Scripts/bootstrap-select.js"></script>*@
    @*<script src="~/Scripts/i18n/defaults-tr_TR.min.js"></script>*@
    <script src="~/Extensions/alertify.js"></script>
    <script src="~/DataTables/datatables.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
